<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.diagnostics>
    <switches>
      <!--This is the switch for the Loader class; value ="0" means tracing is off, so to turn tracing on, set value ="1".-->
      <add name ="TraceLoader" value ="1"/>
      <!--This is the switch for the Memory class; turn tracing on or off, see comment in first trace-->
      <add name ="MemoryTrace" value ="0"/>
    </switches>

    <trace autoflush="true" indentsize ="0">
      <listeners> <!--This controls logging section output.-->
        <clear/>
        <!--Change the value of `initializeData` between quotation marks to change the default console log to a file of your choice.-->
        <add name="Logger" type="System.Diagnostics.TextWriterTraceListener" initializeData="Console.Out" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
